@using Tobe.Collection.Helpers
@using Tobe.Collection.Models
@using Orchard.Core.Title.Models
@{
    var contentItem = Model.ContentItem;
    var autoroutePart = contentItem.AutoroutePart.DisplayAlias;
    var categoriesPart = (CategoriesContainerPart)contentItem.CategoriesContainerPart;
    var categories = categoriesPart.Categories.ToList();
}

@if (categories.Any())
{
    <div style="width: 25%; float: left"><span class="labels">Genre(s)</span></div>
    <div style="width: 75%; float: left">
        <span>
            @for (var i = 0; i < categories.Count; i++)
            {
                var genreName = categories[i];
                <a href="/Search/genres/?q=@Url.Encode(genreName.Genre.NameSearch)&order=artist">@genreName.Genre.Name</a>if (i < categories.Count - 1)
                {<span>; </span>}
            }
        </span>
    </div>
}

